[Desktop Entry]
Name=Franz
Comment=Messaging app for WhatsApp, Slack, Telegram, HipChat, Hangouts and many many more.
Exec={{ franz_install_dir }}/franz %U
Icon={{ franz_install_dir }}/icon.png
Type=Application
StartupNotify=true
